@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DataTables - MVC ASP.NET</h1>
    <p class="lead">Criação de um JavaScript e HTML Helper (MVC) para facilitar a utilização do Plugin DataTables JQuery.</p>
    <p><a href="https://github.com/MackMendes/MVCAspNet.DataTables" class="btn btn-primary btn-lg">Leia mais &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>DataTables - Básico</h2>
        <p>
            Atribuindo o plugin DataTables na Table já renderizada.
        </p>
        <p>@Html.ActionLink("Seja »", "DataTables", "Home", new { }, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>DataTables - Ajax</h2>
        <p>Utilizando os recursos mais avançados do DataTables JQuery para utilizar 100% ajax das requisições.</p>
        <p>@Html.ActionLink("Seja »", "DataTablesAjax", "Home", new { }, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>DataTables - HTMLHelper</h2>
        <p>Para facilitar ainda mais a utilização, fiz um HTML Helper do MVC para renderizar a Table da forma correta que o DataTables JQuery espera.</p>
        <p>@Html.ActionLink("Seja »", "DataTablesHTMLHelper", "Home", new { }, new { @class = "btn btn-default" })</p>
    </div>
</div>
